.body {
  background-color: black;
  color: white;
  position: sticky;
}

.container-lg>.row {
  margin: 0 auto;
  width: 410px;
}

.container-lg {
  height: inherit;
  padding: 5px;
  text-align: center;
}

fa-icon {
  font-size: 33px;
  cursor: pointer;
}

.col-3 {
  text-align: center;
}
