<div class="body">

    <div class="container-lg">

        <div class="row">

            <div class="col-sm-3">
                <fa-icon stackItemSize="20px" [icon]="faInstagram"></fa-icon>
            </div>
            <div class="col-sm-3">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </div>
            <div class="col-sm-3">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </div>
            <div class="col-sm-3">
                <fa-icon [icon]="faInstagram"></fa-icon>
            </div>

        </div>

    </div>

    <a href="">
        
    </a>
    
</div>