{
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "bracketSpacing": true,
  "useTabs": false,
  "htmlWhitespaceSensitivity": "ignore",
  "jsxSingleQuote": true,
  "printWidth": 150,
  "semi": false,
  "jsxBracketSameLine": false
}