.img-cover {
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/slider-2.jpg');
  background-size: cover;
  position: absolute;
  width: 100%;
  height: 100%;
}

.form {
  margin: 0 auto;
  max-width: 440px;
  width: calc(100% - 40px)
}

:host ::ng-deep mat-card {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  width: auto;
  margin: auto;
  height: 300px;
  max-width: 480px;
  background-color: #32791b69;
  color: #fff;
  text-align: center;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-label {
    color: white;
}

:host ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
    background-color: white;
}