<div class="body">

    <div class="img-cover">

        <div class="form mt-5">
            <mat-card>

                <h2 class="mt-2">Login</h2>

                <form [formGroup]="form">

                    <mat-form-field class="mt-1">
                        <mat-label>username</mat-label>
                        <input matInput placeholder="Sina Hatami" formControlName="username">
                        <ng-container
                            *ngIf="username.invalid && (username.dirty || username.touched || submitSelected)">
                            <mat-error *ngIf="username.errors.required">
                                Please enter a username
                            </mat-error>
                            <mat-error *ngIf="username.errors.maxlength">
                                username must be at max {{ username.errors.maxlength.requiredLength }} characters long.
                                but
                                {{ username.errors.maxlength.actualLength }} characters long.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>

                    <mat-form-field class="mt-1">
                        <mat-label>password</mat-label>
                        <input matInput placeholder="Sina Hatami" formControlName="password">
                        <ng-container
                            *ngIf="password.invalid && (password.dirty || password.touched || submitSelected)">
                            <mat-error *ngIf="password.errors.required">
                                Please enter a password
                            </mat-error>
                            <mat-error *ngIf="password.errors.maxlength">
                                password must be at max {{ password.errors.maxlength.requiredLength }} characters long.
                                but
                                {{ password.errors.maxlength.actualLength }} characters long.
                            </mat-error>
                        </ng-container>
                    </mat-form-field>

                </form>

                <button (click)="onLogin()" mat-mini-fab class="fab-secondary mt-3" color="secondary">submit
                </button>

            </mat-card>
        </div>

    </div>

</div>