header {
  width: 100%;
  height: 100vh;
  background: url(../../../assets/images/home.jpg) no-repeat 50% 50%;
  background-size: cover;
}

.body {
  background: #101010;
  color: #E2E2E2;
}

::ng-deep .toast-message a {
  color: #fffa58 !important;
}

::ng-deep .toast-message a:hover {
  color: blue !important;
}

.footer {
  min-height: 37px;
}
