.body {
  background: #101010;
  color: #E2E2E2;
  padding: 240px;
}

.post {
  width: 62%;
  margin: 0 auto;
}

.post-body {
  text-align: center;
}

.post-img>img {
  height: 460px;
  width: 100%;
  border-radius: 40px;
}

.post-description {
  padding: 25px 0;
}

.post-body-border {
  box-shadow: 0 0 58px #8a8a8a;
  padding: 31px 42px;
  border: 2px solid darkgrey;
  border-radius: 20px;
  background: #002907;
  color: white;
}

:host ::ng-deep .mat-paginator {
  background: unset !important;
}

button:focus {
  outline: 0 none !important;
}
