<div class="row" (mouseover)="hover = true" (mouseleave)="hover = false">
  <div class="col-12 d-flex">
    <div (click)="onSortRequested(sort, $event)">{{ params.displayName }}</div>
    <div class="ml-2 d-flex" *ngIf="params.displayName != 'actions'">
      <div *ngIf="params.enableSorting && _sortingDown" (click)="onSortRequested('asc', $event)" [ngClass]="ascSort">
        <fa-icon stackItemSize="20px" [icon]="faArrowDown"></fa-icon>
      </div>
      <div *ngIf="params.enableSorting  && _sortingUp" (click)="onSortRequested('desc', $event)" [ngClass]="descSort">
        <fa-icon stackItemSize="20px" [icon]="faArrowUp"></fa-icon>
      </div>
      <span *ngIf="hover" #menuButton (click)="onMenuClicked($event)">
        <i class="ag-icon ag-icon-menu"></i>
      </span>
    </div>
    <div class="ml-2" *ngIf="params.displayName == 'actions'">
      <fa-icon *ngIf="!params.disableAdd" class="ml-2" stackItemSize="20px" [icon]="faPlus" (click)="onAddClick(params, $event)"></fa-icon>
      <fa-icon class="ml-2" stackItemSize="20px" [icon]="faFileExcel" (click)="onExcellClick(params, $event)"></fa-icon>
    </div>
  </div>
</div>
